.button {
  box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  border: none;
  height: 40px;
  width: 264px;
}

.button:disabled {
  background: rgb(213 224 242 / 80%);
}
