.searchPage__IconAndInput {
  display: flex;
  align-items: center;
}

.searchPage__input {
  flex-grow: 3;
  width: 280px;
  height: 32px;
  font-family: "Noto Sans JP", sans-serif;
}

.searchPage__main {
  width: 100%;
  padding-top: 144px;
}

.searchPage__main--user_null {
  padding-top: 56px;
}
