.userCard {
  display: flex;
  height: 56px;
  overflow: hidden;
}

.userCard__icon {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.userCard__text {
  flex-grow: 1;
  width: 256px;
  text-align: start;
}

.userCard__name {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 8px;
  text-overflow: ellipsis;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.userCard__id {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  color: #808080;
  letter-spacing: 0.05em;
}
