.addButton {
  position: relative;
  width: 32px;
  height: 32px;
  background: rgb(255 255 255 / 20%);
  border: 1px solid rgb(255 255 255 / 40%);
  border-radius: 100px;
}

.addButton__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: auto;
}
