.addButton {
  height: 32px;
  width: 32px;
  background: rgb(255 255 255 / 20%);
  border-radius: 100px;
  border: 1px solid rgb(255 255 255 / 40%);
  position: relative;
}

.addButton__icon {
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
