.tab {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 32px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.tab__button {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #fff;
  border: none;
  flex-grow: 1;
  max-width: 104px;
  background: rgb(0 0 0 / 0%);
}

.tab__button--selected {
  border-bottom: solid 2px #fff;
}
