.deleteButton {
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
}

.deleteButton__icon {
  height: 32px;
  width: 32px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

