.hakyokuProcessPage {
  padding-top: 120px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
}

.hakyokuProcessPage__heartButton {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  background: rgb(0 0 0 / 0%);
  border: none;
  border-radius: 50%;
}

.hakyokuProcessPage__icon {
  width: 158px;
  margin-right: auto;
  margin-left: auto;
}

.hakyokuProcessPage__name {
  font-size: 20px;
  font-weight: bold;
}

.hakyokuProcessPage__id {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.hakyokuProcessPage__mainText {
  margin-top: 64px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.hakyokuProcessPage__subText {
  margin-top: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #808080;
  text-align: center;
}

.hakyokuProcessPage__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
}

.hakyokuProcessPage__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.05em;
}

.hakyokuProcessPage__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  color: #808080;
  text-align: center;
  letter-spacing: 0.05em;
}
