.welcomePage {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 120px;
  letter-spacing: 0.05em;
  text-align: center;
}

.welcomePage__icon {
  display: inline-block;
}

.welcomePage__id {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.welcomePage__welcome {
  font-size: 20px;
  margin-top: 56px;
  line-height: 24px;

  /* TODO なんかグラデーションできないのでとりま solid にしときます */
  color: #258eef;
}

.welcomePage__button {
  position: absolute;
  width: 100%;
  bottom: 88px;
}
