.welcomePage {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 120px;
  letter-spacing: 0.05em;
}

.welcomePage__icon {
  display: inline-block;
}

.welcomePage__id {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.welcomePage__h1 {
  font-size: 20px;
  margin-top: 56px;
  line-height: 24px;
  color: linear-gradient(90deg, #33b9fc 0%, #337cee 100%);
}

.welcomePage__button {
  position: absolute;
  width: 100%;
  bottom: 88px;
}
