.powerWordPage {
  font-family: "Noto Serif JP", sans-serif;
  padding-top: 120px;
  letter-spacing: 0.05em;
  text-align: center;
}

.powerWordPage__discription {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.powerWordPage__name {
  margin-top: 64px;
}

.powerWordPage__powerWord {
  font-size: 20px;
  margin-top: 56px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  margin-left: 16px;
  margin-right: 16px;

  /* 文字のグラデーション */
  background: linear-gradient(90deg, #33b9fc 0%, #337cee 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.powerWordPage__button {
  position: absolute;
  width: 100%;
  bottom: 88px;
}
