.homePage__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
}

.homePage__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.05em;
}

.homePage__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  color: #808080;
  text-align: center;
  letter-spacing: 0.05em;
}

.homePage__secondaryText {
  background: linear-gradient(270deg, #f5576c 0%, #f093fb 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
